@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');


:root {
    --color-primary: #F0EADA;
    --color-secondary: #2a2a2a;
    --color-third: #16639F;
    --color-border: #BDBDBD;
    --color-white: #F9F9F9;
    --color-dark-blue: #222935;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    z-index: 100;
    text-decoration: none;
}

body {
    width: 100vw;
    background-color: var(--color-primary);
    overflow-x: hidden;
    background-image: url(./images/backgroundPatternBig_zsspyc-opacity.svg);
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 40%;
}

/* HEADER LOGIN */

.header-login {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 3.7rem;
    width: 100vw;
    background-color: var(--color-primary);
    z-index: 110;
}

.header-login__logo {
    width: 8.2rem;
    margin-left: 1.5rem;
}

.header-login__navigation {
    display: flex;
    justify-content: center;
}

.header-login__container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-right: 2rem;
}

.header-login__link {
    list-style: none;
    display: flex;
    align-self: center;
    margin: 1.2rem;
}

.header-login__link > a {
    font-size: 0.65rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color-secondary);
}

/* HEADER CUSTOMER*/



.header-customer {
    position: fixed;
    height: 5.35rem;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: var(--color-primary);
    border: 1px solid var(--color-border);
    z-index: 110;
}

.header-customer__topnav {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--color-border);
    height: 1.55rem;
    align-items: center;
}

.header-customer__toplist {
    display: flex;
    list-style: none;
    position: absolute;
    right: 1rem;
}

.header-customer__toplink > a {
    color: var(--color-secondary);
    font-size: 0.6rem;
    margin: 0 1rem;
    font-weight: 500;
    letter-spacing: 0.04em;
}

.header-customer__toplink > a:hover {
    color: var(--color-third);
}

.toplink--capitalize {
    text-transform: capitalize;
}

.toplink--uppercase {
    text-transform: uppercase;
}

.header-customer__navigation {
    width: 100%;
    display: flex;
    height: 3.8rem;
    justify-content: space-between;
}

.header-customer-logolink {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
}

.header-customer__logo {
    align-self: center;
    width: 100%;
    margin: 2rem;
    width: 9rem;
}

.header-customer__list {
    display: flex;
    list-style: none;
    text-decoration: none;
    align-items: center;
    margin-right: 0.6rem;
}

.header-customer__link > a {
    color: var(--color-secondary);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.7rem;
    margin: 0 0.3rem;
    letter-spacing: 0.03em;
    padding: 1rem 1rem 1.05rem 1rem;
}

.header-customer__link, #deliveryday {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.current-page-link > a, .header-customer__link > a:hover {
    color: var(--color-third);
    border-bottom: 3px solid var(--color-third);
}

/* LEVERINGSDAG SEKTION ------------------------------------------------------------- */

.delivery-container {
    padding: 1.3rem;
    width: 19rem;
    height: calc(100vh - 5.35rem);
    position: fixed;
    display: block;
    right: -19rem;
    top: 5.35rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-top: none;
    transition: all 0.3s ease 0s;
    z-index: 110;
}

.show-delivery {
    right: 0rem;
    transition: all 0.3s ease 0s;
}

.delivery-heading {
    font-size: 1.3rem;
    font-weight: 500;
}
.delivery-heading-border {
    margin-top: 0.5rem;
    height: 2px;
    width: 5rem;
    background-color: var(--color-secondary);
}

.calender-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem auto 0 auto;
}

.calender-month {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
}

.arrows {
    display: flex;
    width: 2.1rem;
    justify-content: space-between;
}

.delivery-next-month {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 9px solid rgb(139, 152, 152);
}

.delivery-prev-month {
    width: 0; 
    height: 0; 
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 9px solid rgb(139, 152, 152);
}

.calender-days {
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    margin-top: 1.3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "mon tue wed thur fri sat sun"
    ". . . date1 date2 date3 date4"
    "date5 date6 date7 date8 date9 date10 date11"
    "date12 date13 date14 date15 date16 date17 date18"
    "date19 date20 date21 date22 date23 date24 date25"
    "date26 date27 date28 date29 date30 . .";
}

.calender-days > p {
    font-size: 0.9rem;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.calender-weekdays {
    color: rgb(139, 152, 152);
    font-weight: 600;
    margin-bottom: 0.2rem;
}
.date {
    color: var(--color-border);
    padding: 0.4rem;
    cursor: pointer;
}

.delivery-date {
    color: var(--color-secondary);
    font-weight: 500;
}

.selected-date {
    color: white;
    padding: 0.4rem;
    background-color: var(--color-third);
    border-radius: 50%;
    cursor: pointer;
}

.monday {
    grid-area: mon;
}
.tuesday {
    grid-area: tue;
}
.wednesday {
    grid-area: wed;
}
.thursday {
    grid-area: thur;
}
.friday {
    grid-area: fri;
}
.saturday {
    grid-area: sat;
}
.sunday {
    grid-area: sun;
}
.date1 {
    grid-area: date1;
}
.date2 {
    grid-area: date2;
}
.date3 {
    grid-area: date3;
}
.date4 {
    grid-area: date4;
}
.date5 {
    grid-area: date5;
}
.date6 {
    grid-area: date6;
}
.date7 {
    grid-area: date7;
}
.date8 {
    grid-area: date8;
}
.date9 {
    grid-area: date9;
}
.date10 {
    grid-area: date10;
}
.date11 {
    grid-area: date11;
}
.date12 {
    grid-area: date12;
}
.date13 {
    grid-area: date13;
}
.date14 {
    grid-area: date14;
}
.date15 {
    grid-area: date15;
}
.date16 {
    grid-area: date16;
}
.date17 {
    grid-area: date17;
}
.date18 {
    grid-area: date18;
}
.date19 {
    grid-area: date19;
}
.date20 {
    grid-area: date20;
}
.date21 {
    grid-area: date21;
}
.date22 {
    grid-area: date22;
}
.date23 {
    grid-area: date23;
}
.date24 {
    grid-area: date24;
}
.date25 {
    grid-area: date25;
}
.date26 {
    grid-area: date26;
}
.date27 {
    grid-area: date27;
}
.date28 {
    grid-area: date28;
}
.date29 {
    grid-area: date29;
}
.date30 {
    grid-area: date30;
}
/* BASKET DROP DOWN ---------------------------------------------------------------*/



.basket-dropdown {
    display: none;
    flex-direction: column;
    top: 5.35rem;
    right: 0;
    position: fixed;
    background-color: var(--color-primary);
    width: 25rem;
    z-index: 111;
    border: 1px solid var(--color-border);
    border-top: none;
    padding: 1.3rem;
}

.show-basket-dropdown {
    display: flex;
}

.basket-dropdown__heading {
    color: var(--color-secondary);
}
.basket-dropdown__heading-border {
    background-color: var(--color-secondary);
    height: 2px;
    width: 2.5rem;
    margin-bottom: 1rem;
}

.basket-dropdown__product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    height: 5rem;
    font-size: 0.8rem;
}

.add-product {
    display: none;
}

.show-added-product {
    display: flex;
}

.basket-dropdown-product__image {
    background-image: url(./images/products-img/Skærmbillede\ 2021-04-22\ kl.\ 13.54.25.png);
    background-size: 100%;
    height: 5rem;
    width: 5rem;
    margin-right: 0.3rem;
}

.basket-dropdown-product__colli {
    color: var(--color-third);
}

.basket-dropdown-product__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 600;
}

.basket-dropdown-product__amount {
    display: flex;
    float: right;
    align-self: flex-end;
}

.basket-dropdown-product__number {
    margin: 0.05rem 0.25rem 0 0.25rem;
    font-weight: 600;
    font-size: 1rem;
}

.basket-dropdown-product__minus, .basket-dropdown-product__plus {
    color: var(--color-third);
    font-weight: 600;
    font-size: 1rem;
}

.basket-dropdown-product__plus {
    margin-top: 0.05rem;
}

.basket-dropdown__total {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    padding: 0.4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    font-size: 0.8rem;

}

.basket-dropdown-total__delivery, .basket-dropdown-total__price {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.basket-dropdown-total-delivery__text, .basket-dropdown-total-price__text, .basket-dropdown-product__name {
    color: var(--color-third);
    font-weight: 600;
    font-size: 0.8rem;
}

.basket-dropdown-total-delivery__price, .basket-dropdown-total-price__price {
    font-weight: 600;
}

.basket-dropdown__link {
    color: var(--color-white);
    background-color: var(--color-third);
    padding: 0.6em 2em;
    margin: 1.5rem auto 0.4rem auto;
    font-weight: 600;
}


/* FOOTER -------------------------------------------------------------------------*/

.temporary {
    margin-top: 5.35rem;
    height: calc(100vh - 5.35rem);
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100vw;
    background-color: var(--color-dark-blue);
}

.footer-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem auto 3rem auto;
    padding-bottom: 2rem;
    border-bottom: 2px solid var(--color-white)
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 11rem;
}

.footer-column__img {
    width: 2.5rem;
    margin: 0 2rem 0 0;
}

.footer-column__heading {
    color: var(--color-white);
    margin: 0.5rem 0 0.5rem 0;
}

.footer-column__caption {
    color: var(--color-white);
}
.footer-column__link {
    color: var(--color-white);
    font-weight: 700;
    margin: 0.4rem 0 0.5rem 0;
}

.footer-bottom-container {
    margin-bottom: 5rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-logo {
    width: 7rem;
}

.footer-list {
    color: var(--color-white);
    list-style: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
}

.footer-list__link {
    margin-bottom: 0.4rem;
}

.footer-bottom__heading {
    color: var(--color-white);
}

.footer-heading__border {
    margin: 0.3rem 0 1rem 0;
    height: 2px;
    width: 2.8rem;
    background-color: var(--color-white);
}

.footer-bottom__caption {
    color: var(--color-white);
}

.footer-info {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.footer-trademark {
    margin-top: 3rem;
    color: var(--color-white);
}


.footer-contact__link {
    width: 11rem;
    margin-bottom: 1rem;
    float: right;
    display: flex;
    flex-direction: column;    
}

.footer-contact__link > a {
    text-align: left;
    color: var(--color-white);
    font-weight: 600;
}

.footer-reports {
    color: var(--color-white);
    text-align: right;
    margin-bottom: 5rem;
}




/* HEADER MANUFACTURER */


/* HERO */

.hero {
    height: 30.2rem;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: calc(100% + 5rem);
    height: 27rem;
    top: 3.7rem;
    left: -5rem;
    background-image: url(https://res.cloudinary.com/raahandel/image/upload/v1617268139/splash/npykcgadi4qnyywnferd.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 80%;
}

.hero-img__logo, .hero-img__text {
    margin-left: 6.5rem;
}

.hero-img__logo {
    width: 11rem;
}

.hero-img__text {
    margin-top: 2rem;
    color: var(--color-white);
    text-align: center;
    font-weight: normal;
    font-size: 1.3rem;
}

/* LOGIN MID-PAGE */

.signup-mid-page {
    display: flex;
    justify-content: center;
}

.signup-mid-page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 24rem;
    height: 13rem;
    background-color: var(--color-white);
    border-color: var(--color-border);
    border-style: solid;
    border-width: 0.1rem;
}

.signup-mid-page__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 2.5rem;
    background-color: var(--color-third);
    margin-bottom: 1.4rem;
    font-size: 0.65rem;
    text-transform: uppercase;
    color: var(--color-white);
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.signup-mid-page__text {
    text-align: center;
    font-size: 0.85rem;
}

/* HVAD ER RÅHANDEL SEKTION */

.whatis-raahandel {
    width: 100vw;
}

.whatis-raahandel__caption-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin-top: 4rem;
    letter-spacing: 0.1rem;
}

.whatis-raahandel-caption__zigzag {
    width: 3.7rem;
}

.whatis-raahandel-caption__text {
    align-self: center;
    margin: 0 3rem 0 3rem;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.whatis-raahandel__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    
}

.whatis-raahandel__text-width {
    align-self: center;
    width: 52rem;
    margin-bottom: 3rem;
}

.whatis-raahandel__text {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 1rem;
}

/* PRODUCTS PAGE ---------------------------------------------------- */

.products-aside {
    position: fixed;
    top: 5.34rem;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 5.35rem);
    width: 14.5rem;
    background-color: var(--color-primary);
    border-style: solid;
    border-color: var(--color-border);
    border-width: 0.1rem;
    border-top-left-radius: none;
}

.products-aside__container {
    margin-left: 1rem;
}

.products-aside-icon-explain__container {
    display: flex;
    flex-direction: row;
    height: 2rem;
    align-items: center;
    margin-top: 1rem;
}

.products-aside-icon-explain__info-logo {
    width: 1rem;
    margin-right: 0.5rem;
}

.products-aside-icon-explain__text {
    font-size: 0.8rem;
    padding-top: 0.1rem;
    color: var(--color-third);
}

.products-aside-categories__container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.products-aside-categories__caption, .products-aside-filter__caption {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.products-aside-categories__underline, .products-aside-filter__underline {
    margin-top: 0.6rem;
    width: 3.4rem;
    height: 0.1rem;
    background-color: var(--color-secondary);
}

.products-aside-cateogries__categories {
    display: grid;
    grid-template-columns: fr fr fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ""
    ;
}

/* SWITCH TOGGLE */

.product-aside-filter__row {
    display: flex;
    justify-content: row;
}

.products-aside-filter__soldout-switch {
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 1.5rem;
    margin-top: 1rem;
}

.products-aside-filter__soldout-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.products-aside-filter__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.products-aside-filter__slider:before {
    position: absolute;
    content: "";
    height: 1.1rem;
    width: 1.1rem;
    left: 0.3rem;
    bottom: 0.2rem;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .products-aside-filter__slider {
    background-color: var(--color-third);
}

input:checked + .products-aside-filter__slider:before {
    -webkit-transform: translateX(1.1rem);
    -ms-transform: translateX(1.1rem);
    transform: translateX(1.1rem);
}

.products-aside-filter__slider.round {
    border-radius: 1rem;
}

.products-aside-filter__slider.round:before {
    border-radius: 50%;
}

.products-aside-filter__text {
    font-size: 0.8rem;
    align-self: center;
    margin-top: 0.9rem;
    margin-left: 0.8rem;
}

/* PRODUCTS CAMPAIGNS */

.products-campaigns {
    display: flex;
    margin-top: 5.35rem;
    margin-left: 14.5rem;
    width: calc(100vw - 14.5rem);
    height: 36rem;
}

.products-campaigns__container {
    position: relative;
    top: 3rem;
    left: 3rem;
    width: 80vw;
    height: 40rem;
}

.products-campaigns__carousel {
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.products-campaigns__caption {
    font-size: 2rem;
}

.products-campaigns__underline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--color-secondary);
}

.carousel-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

.products-campaigns__move-left, .products-campaigns__move-right {
    width: 3rem;
    height: 5rem;
    border-style: none;
    display: flex;
    cursor: pointer;
    background-color: transparent;
}

.products-campaigns__arrow-left, .products-campaigns__arrow-right {
    position: relative;
}

.products-campaigns__arrow-left:before {
    position: absolute;
    content: '';
    top: 0;
    left: 1.2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 0.5rem;
    transform: rotate(45deg);
    height: 3rem;
    background-color: var(--color-secondary);
}

.products-campaigns__arrow-left:after {
    position: absolute;
    content: '';
    top: 1.9rem;
    left: 1.2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 0.5rem;
    transform: rotate(-45deg);
    height: 3rem;
    background-color: var(--color-secondary);
}

.products-campaigns__arrow-right:before {
    position: absolute;
    content: '';
    top: 0;
    left: 1.2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 0.5rem;
    transform: rotate(-45deg);
    height: 3rem;
    background-color: var(--color-secondary);
}

.products-campaigns__arrow-right:after {
    position: absolute;
    content: '';
    top: 1.9rem;
    left: 1.2rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    width: 0.5rem;
    transform: rotate(45deg);
    height: 3rem;
    background-color: var(--color-secondary);
}

.products-campaign__example {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30rem;
    width: 20rem;
    background-color: var(--color-white);
    margin: 1rem;
    outline: 2px solid var(--color-border)
}

.products-campaign__prod1-img {
    display:;
}

.products-campaign__sale {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 0.9rem;
    margin-left: 12rem;
    z-index: 101;
    width: 8rem;
    height: 2.3rem;
    background-color: var(--color-third);
    color: var(--color-white);
}

.prod__info-container {
    position: relative;
    height: 10rem;
    width: 100%;
    background-color: var(--color-white);
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    border-top-style: solid;
    border-width: 0.1rem;
    border-color: var(--color-border);
}

.prod1__company-name {
    font-size: 1rem;
    color: var(--color-third);
}

.prod1__product-name {
    font-size: 1.2rem;
}

.prod1-price__price-per-unit {
    font-size: 1rem;
}

.prod1-price__container {
    position: absolute;
    bottom: 0.2rem;
    width: 100%;
}

.prod1-price__basket-icon {
    position: absolute;
    right: 1rem;
    bottom: 0.2rem;
    width: 3rem;
    height: 100%;
    background-color: var(--color-third);
}

/* PRODUCTS ITEMS */

.products-items {
    margin-left: 14.5rem;
    width: calc(100vw - 14.5rem);
}

.products-items__container {
    position: relative;
    top: 3rem;
    left: 3rem;
    width: 80vw;
}

.products-items__caption {
    font-size: 2rem;
}

.products-items__underline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--color-secondary);
}

.products-items__search {
    width: 30rem;
    height: 3rem;
    padding-left: 3rem;
    margin-left: 5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    background-color: var(--color-white);
    border-style: solid;
    border-color: var(--color-border);
}

.products-items__search-icon {
    position: absolute;
    left: 5.7rem;
    top: 7.2rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.products-items__search-icon:before {
    content: '';
    position: absolute;
    width:1rem;
    height: 1rem;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--color-border);
    border-width: 0.2rem;
}

.products-items__search-icon:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0.4rem;
    transform: rotate(-45deg);
    width: 0.2rem;
    height: 1rem;
    background-color: var(--color-border);
}

.items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 4rem;
}

/* PRODUCTS OTHER ITEMS */

.products-other-items {
    margin-left: 14.5rem;
    width: calc(100vw - 14.5rem);
    height: 40rem;
}

.products-other-items__container {
    position: relative;
    top: 3rem;
    left: 3rem;
    width: 80vw;
}

.products-other-items__caption {
    font-size: 2rem;
    margin-top: 2rem;
}

.products-other-items__underline {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 4rem;
    height: 0.2rem;
    background-color: var(--color-secondary);
}

.products-other-items-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 7rem;
    margin-top: 5rem;
}